<div class="container" id="about">
  <h2>About Michael Coniaris</h2>
  <p>Michael Coniaris is a web developer, software engineer, photographer and sometimes public relations professional.</p>
  <p>He's also a soccer watching fanatic (NYCFC season ticket holder), political junkie, book reader and when he can, a napper.</p>
  <p>Having learned software development at General Assembly and NYU, he is familiar with Ruby, Ruby on Rails, HTML, CSS, JavaScript, Angular, Java, Android App Deveopment and working with APIs.</p>
</div>
