<div id="container">
  <picture id="index-photo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <%= image_tag("baby-sm.jpg", :alt => "Infant Photo") %>
           <div class="carousel-caption">
           Web Developement + Photography
           </div>
        </div>
    </div>
  </div>
</div>


