<% render_title "| Home" %>
<% description "This is the homepage of Michael Coniaris' portfolio site." %>

<!-- Fefactoring Bootstrap code to use Jumbotron Keyword. -->
<!-- TODO: Add alt-text to background Baby photo for blind people. -->
<!-- Jumbotron is placed outside the container class so that it will span to the full width of the view port. -->
<div class="jumbotron text-center">
  <a href="/websites"><button type="button" class="btn btn-primary">Web Development</button></a>
  <a href="/photos"><button type="button" class="btn btn-primary">Photography</button></a>
</div>