<div class="container" id="websites">
  <h2 class="subheader">Web Development Samples</h2>
  <div class="row row-centered">
    <div class="col-md-6 col-centered">
      <h3>Letter 10 Productions</h3>
      <picture class="website-photos">
        <a href="http://letter10productions.com/"><%= image_tag("Letter10Productions.png", :alt => "Letter 10 Productions Website") %></a>
      </picture>
      <div class="website-info">
        <p>This Website (<a href="https://github.com/mconiaris/Letter10">GitHub</a>), for a California-based television production company, was my first exposure to AngularJS. I recieved a message from a client saying that they had a meeting in a few days later and needed an emergency site created.</p>
        <p>A newer one, using Rails as a back end and Boostrap in the front end is in the design stage.</p>
      </div>
    </div>
    <div class="col-md-6 col-centered">
      <h3>Tracking the Debt</h3>
      <picture class="website-photos">
        <a href="https://rocky-chamber-8990.herokuapp.com/">
          <%= image_tag("TrackingTheDebt.png", :alt => "Tracking the Debt Website") %>
        </a>
      </picture>
      <div class="website-info">
        <p>This website (<a href="https://github.com/mconiaris/tracking_the_debt_app">GitHub</a>) is a data visualization of the surpluses and deficits of the United States government since 1940.</p>
        <p>It uses a the Dygraphs JavaScript library with AngularJS as a backend.</p>
        <p>This site was my first exposure to the task manager Grunt and the testing suite Karma.</p>
      </div>
    </div>
  </div>
</div>
