<div class="container" id="websites">
  <h2 class="subheader">Web Development Samples</h2>
  <div class="row row-centered">
    <div class="col-md-6 col-centered">
      <h3>Letter 10 Productions</h3>
      <picture class="website-photos">
        <a href="http://letter10productions.com/"><%= image_tag("Letter10Productions.png", :alt => "Letter 10 Productions Website") %></a>
      </picture>
    </div>
    <div class="col-md-6 col-centered">
      <h3>Tracking the Debt</h3>
      <picture class="website-photos">
        <a href="https://rocky-chamber-8990.herokuapp.com/">
          <%= image_tag("TrackingTheDebt.png", :alt => "Tracking the Debt Website") %>
        </a>
      </picture>
    </div>
  </div>
</div>
