// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$outside-background: #bfbfbf;
$outside-text: black;
$outside-border: 1px solid black;

nav.navbar {
  margin-bottom: 0px;
  background-color: $outside-background;
  border: $outside-border;
}

div.navbar-header a.navbar-brand {
  color: $outside-text;
}

body {
  background-color: black;
  color: white;
}

picture#index-photo img {
  height: 100%;
  width: 100%;
}

footer {
  background-color: $outside-background;
  border: $outside-border;
  color: $outside-text;
  text-align: center;
  padding: 15px;
}
