// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$outside-background: #bfbfbf;
$outside-text: black;
$outside-border: 1px solid black;
$subheader-color: #b3b3b3;
$URL-color: #99ccff;

nav.navbar {
  margin-bottom: 0px;
  background-color: $outside-background;
  border: $outside-border;
}

div.navbar-header a.navbar-brand {
  color: $outside-text;
}

body {
  background-color: black;
  color: white;
}

picture#index-photo img {
  height: 100%;
  width: 100%;
}

/*About Page*/
div#about {
  text-align: center;
  margin-left: 9em;
  margin-right: 9em;
}

div#about.container h2 {
  margin-bottom: 20px;
  color: $subheader-color;
}

div#about.container p a {
  color: $URL-color;
}


/*Contact Page*/
div#contact {
  text-align: center;
}

div#contact.container h2 {
  margin-bottom: 20px;
  color: $subheader-color;
}

div#contact.container p a {
  color: $URL-color;
}


/*Footer*/
footer {
  background-color: $outside-background;
  border: $outside-border;
  color: $outside-text;
  text-align: center;
  padding: 15px;
}
